# Supabase Configuration
VITE_SUPABASE_URL=https://vwetoahntvgcbfuzople.supabase.co
VITE_SUPABASE_PUBLISH_KEY=sb_publishable_bmnNg1fB8Z0Egqp1zr4wBw_DbXARTNS

# Backend API (Railway)
VITE_API_URL=https://elvan-store-production.up.railway.app/api
