PORT=4000
SUPABASE_PROJECT_ID=ovadwaxilxluaojskyzp
SUPABASE_URL=https://ovadwaxilxluaojskyzp.supabase.co
SUPABASE_PUBLISH_KEY=sb_publishable_E49BopR9vdCBD_O4tfc2Kw_W2MrmoUo
NODE_ENV=development
CACHE_TTL=300
ENABLE_REALTIME=true
FRONTEND_ORIGIN=http://localhost:3000
